<nb-card size="small">
  <nb-card-body>
    <div class="location">
      <span>{{ cidade }} - {{ uf }}</span>
    </div>
    <div class="date">
      <span>{{ dataDia | date: 'dd/MM/yyyy' }}</span>
    </div>
    <div class="daily-forecast">
      <div class="info">
        <div class="temperature">
          <span>{{ temperatura }}&deg;</span>
        </div>
        <div class="icon">
          <img src="assets/images/realistic/128px/{{ icon }}.png" />
        </div>
      </div>
      <div class="details">
        <div class="parameter">
          <span class="parameter-name">Sensação</span>
          <span class="parameter-value">{{ sensacao }}&deg;</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">Ventos</span>
          <span class="parameter-value">{{ ventos }} km/h</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">Umidade</span>
          <span class="parameter-value">{{ umidade }}%</span>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
